Source: gala-eos-window-switcher
Section: x11
Priority: extra
Maintainer: popye <sailor3101@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgranite-dev,
               libgala-dev,
               valac (>= 0.26)
Standards-Version: 3.9.6

Package: gala-eos-window-switcher
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Gala Window Switcher For elementaryOS
